################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/lw1/lw1/.vs/lw1/FileContentIndex
/lw1/lw1/.vs/lw1
/lw1/lw1/lw1/x64/Debug
/lw1/lw1/x64/Debug